body{
    background-color: black;
}
.fonte-azul{
    color: blue;
    /* font-family: cursive; */
}

.fonte-vermelha{
    color: red;
}

.fonte-amarela{
    color: yellow;
    margin-bottom: 20px;
    /* font-family: cursive; */
}
.fonte-amarela .fonte-vermelha{
    font-style: italic;
}

.fonte-amarela, .fonte-azul{
    font-family: cursive;
}

.imagem-metade{
    width: 50%;
    border: solid yellow;
    border-width: 5px 2px 2px 2px;
    margin-top: 10px;
    padding: 10px;
}

.metade{
    width: 50%;  
}

.descricao-imagem{
    margin-top: 20px;
}

.destacado{
    font-weight: bold;
    background-color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    background-color: red;
}
 